<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Games</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']">
            <button class="btn btn-outline-success mr-sm-2" type="submit" routerLinkActive="active" routerLink="/game_add">Add</button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLinkActive="active" routerLink="/game_list">List</button>
            </li>
        </ul>
        </div>
      </div>
    </nav>
  </header>